@use "mixins" as *;

.mb-sm {
    margin-bottom: 20px !important;
}

.mb-md {
    margin-bottom: 45px !important;
}

.mb-lg {
    margin-bottom: 70px !important;
}

.font-sm {
    font-size: 1.2rem;
    @include mq(sm) {
        font-size: 1.8rem;
    }
}

.font-md {
    font-size: 1.5rem;
    @include mq(sm) {
        font-size: 2rem;
    }
}

.font-lg {
    font-size: 4rem;
    @include mq(sm) {
        font-size: 5rem;
    }
}

.maxWidth {
    max-width: 500px;
}