@use "mixins" as *;
@use "commons" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Zen Maru Gothic', sans-serif;
}

body {
    width: 100vw;
    height: fit-content;
}

.global-container {
    background-color: rgb(236, 255, 255);
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    position: relative;

    &.inview {
        &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #33333357;
            z-index: 1;
        }
    }
}

.container {
    width: 95%;
    height: fit-content;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    & .question_cnt{
        @extend .mb-sm;
        @extend .font-sm;
        font-weight: 600;
    }
    
    & > h2 {
        @extend .mb-md;
        @extend .font-sm;
        text-align: center;
    }

    & .quiz {
        border: 1px solid #333;
        border-radius: 10px;
        width: 80%;
        @extend .maxWidth;

        @extend .font-lg;
        height: 150px;
        line-height: 60px;
        font-weight: 600;
        margin: 0 auto;
        @extend .mb-md;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(255, 249, 242);
    }

    & .form {
        @extend .mb-md;
        width: 100%;
        @extend .maxWidth;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        & div {
            width: fit-content;
            margin-bottom: 5px;
            flex-basis: 45%;
            text-align: center;
            font-size: 1.5em;
            position: relative;

            & > label {
                cursor: pointer;
                & > input[type="radio"]{
                    cursor: pointer;
                    width: 1.2em;
                    height: 1.2em;
                    position: absolute;
                    top: 0.95em;
                    left: 1.8em;
    
                    @include mq(sm) {
                        left: 4em;
                    }
                }
    
                &.disabled {
                    color: #9e9e9e;
                    cursor: default;
                }
            }
  
        }

    }

    & .buttons {
        width: 95%;
        height: 50px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        
        @include mq(sm) {
            margin: 0 auto 20px auto;
        }

        & .btn {
            @extend .font-sm;
            width: 100px;
            height: 50px;
            display: block;
            border: 1px solid #333;
            cursor: pointer;
            background-color: #ffdddd;
            transition: all 0.2s;
            margin-right: 30px;
            color: #333;
            
            &:last-child {
                margin-right: 0;
            }

            &:hover {
                background-color: #333;
                color: white;
            }

            &:disabled {
                background-color: #ffdddd;
                color: #9e9e9e;
                cursor: default;
                border: none;
            }
        }
    }
}

.result {
    width: 80%;
    max-width: 800px;
    height: 90%;
    z-index: -1; /* 編集時ここを修正 */
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fdffb4;
    opacity: 0; /* 編集時ここを修正 */
    transition: opacity 0.5s;
    border-radius: 25px;
    overflow-y: scroll;

    & .close-btn {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 40px;
        height: 40px;
        border: #333 solid 3px;
        border-radius: 50%;
        background-color: transparent;
        cursor: pointer;

        & span {
            display: block;
            width: 100%;
            height: 3px;
            background-color: #333;
            position: absolute;
            top: calc(50% - 1.5px);
            transform-origin: center center;

            &:nth-child(1) {
                transform: rotate(45deg);
            }
            &:nth-child(2) {
                transform: rotate(-45deg);
            }
        }

        &:hover {
            & > span {
                border: 1px solid #333;
                transition: all 0.2s ease;
            }            
        }
    }

    &__table {
        @extend .mb-sm;
        width: 90%;
        margin: 0 auto;
        border-collapse: collapse;
        & th,td {
            border: #333 solid 1px;
            text-align: center;
        }
    }

    &.inview {
        z-index: 2;
        opacity: 1;
    }

    & > h3 {
        @extend .font-md;
        width: fit-content;
        margin: 30px auto;
        line-height: 2rem;
        border: 2px solid #6b6b6b;
        border-radius: 10px;
        padding: 15px;
        
    }

    & > p {
        @extend .font-md;
        width: fit-content;
        margin: 0 auto;
        color: red;
        font-weight: 600;

        &:nth-of-type(1) {
            @extend .mb-sm;
        }
        &:nth-of-type(2) {
            @extend .font-sm;
            @extend .mb-md;
            height: 1.5rem;
        }
    }
}
