@charset "UTF-8";
.mb-sm, .result__table, .result > p:nth-of-type(1) {
  margin-bottom: 20px !important;
}

.mb-md, .container > h2, .container .quiz, .container .form {
  margin-bottom: 25px !important;
}

.mb-lg, .result > p:nth-of-type(2) {
  margin-bottom: 50px !important;
}

.font-sm, .container > h2, .container .buttons .btn, .result > p:nth-of-type(2) {
  font-size: 1.2rem;
}
@media screen and (min-width: 480px) {
  .font-sm, .container > h2, .container .buttons .btn, .result > p:nth-of-type(2) {
    font-size: 1.8rem;
  }
}

.font-md, .result > h3, .result > p {
  font-size: 1.5rem;
}
@media screen and (min-width: 480px) {
  .font-md, .result > h3, .result > p {
    font-size: 2rem;
  }
}

.font-lg, .container .quiz {
  font-size: 4rem;
}
@media screen and (min-width: 480px) {
  .font-lg, .container .quiz {
    font-size: 5rem;
  }
}

.maxWidth, .container .quiz, .container .form {
  max-width: 500px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

.global-container {
  background-color: rgb(236, 255, 255);
  width: 100%;
  height: 100%;
}
.global-container.inview::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(51, 51, 51, 0.3411764706);
  z-index: 1;
}

.container {
  width: 95%;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container > h2 {
  text-align: center;
}
.container .quiz {
  border: 1px solid #333;
  border-radius: 10px;
  width: 80%;
  height: 150px;
  line-height: 60px;
  font-weight: 600;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 249, 242);
}
.container .form {
  width: 300px;
  display: flex;
  justify-content: space-between;
}
.container .form label {
  flex-basis: 33%;
  text-align: center;
  margin-right: 15px;
  font-size: 1.5em;
  cursor: pointer;
  position: relative;
}
.container .form label > input[type=radio] {
  width: 1.2em;
  height: 1.2em;
  position: absolute;
  top: 0.6em;
  left: 0;
}
.container .form label input {
  cursor: inherit;
}
.container .form label.disabled {
  color: #9e9e9e;
  cursor: default;
}
.container .buttons {
  width: 95%;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.container .buttons .btn {
  width: 100px;
  height: 50px;
  display: block;
  border: 1px solid #333;
  cursor: pointer;
  background-color: #ffdddd;
  transition: all 0.2s;
  margin-right: 30px;
}
.container .buttons .btn:hover {
  background-color: #333;
  color: white;
}
.container .buttons .btn:disabled {
  background-color: #ffdddd;
  color: #9e9e9e;
  cursor: default;
  border: none;
}

.result {
  width: 80%;
  max-width: 800px;
  height: -moz-fit-content;
  height: fit-content;
  z-index: -1; /* 編集時ここを修正 */
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fdffb4;
  opacity: 0; /* 編集時ここを修正 */
  transition: opacity 0.5s;
  border-radius: 25px;
}
.result .close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  border: #333 solid 3px;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}
.result .close-btn span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #333;
  position: absolute;
  top: calc(50% - 1.5px);
  transform-origin: center center;
}
.result .close-btn span:nth-child(1) {
  transform: rotate(45deg);
}
.result .close-btn span:nth-child(2) {
  transform: rotate(-45deg);
}
.result .close-btn:hover > span {
  border: 1px solid #333;
  transition: all 0.2s ease;
}
.result__table {
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
}
.result__table th, .result__table td {
  border: #333 solid 1px;
  text-align: center;
}
.result.inview {
  z-index: 2;
  opacity: 1;
}
.result > h3 {
  width: -moz-fit-content;
  width: fit-content;
  margin: 30px auto;
  line-height: 2rem;
  border: 2px solid #6b6b6b;
  border-radius: 10px;
  padding: 15px;
}
.result > p {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  color: red;
  font-weight: 600;
}
.result > p:nth-of-type(2) {
  height: 1.5rem;
}/*# sourceMappingURL=style.css.map */